<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!./partials/head.html') %>
    <link rel="stylesheet" type="text/css" href="application.css">
  </head>
  <body class="page --index preload">
    
    <%= require('html-loader!./partials/header.html') %>

    <div class="container">
      <div class="inner-container">
        <div id="swup" class="main-content transition-in">
          <section class="introduction">
            <div class="-inner">
              <div class="description">
                <p>
                  I'm a Chilean 🇨🇱 User Experience designer working in services and products. I use service-design tools 🔧 and a design thinking approach 🧠 to convert ideas into solutions 💥.
                </p>
                <p>
                  Currently, I’m designing a service with <a href="#">The Cocktail</a> for <a href="#">Banco Santander</a>.
                </p>
              </div>
              <div class="last-thought">
                <article class="-article">
                  <a href="/writings/writings-post/">
                    <h1>Three years in the public sector</h1>
                  </a>
                  <div class="-header">
                    <time datetime="2018-11-16">16th November</time>
                    <a class="" href="/writings/">See my blog</a>
                  </div>
                </article>
              </div>
            </div>
          </section>

          <section class="what-i-do">
            <div class="-inner">
              <h1>This is what I do</h1>
            </div>
            <div class="-inner">
              <div class="--discovering">
                <div>
                  <h2 class="-title" data-aos="fade-in">Discovering</h2>
                  <p data-aos="fade-in">
                    Tools and methodologies applied to rise insights collaboratively with users and stakeholders. Workshops and cultural probes to collect information regarding pains and user behavior.
                  </p>
                  <div class="-showcase">
                    <div class="-gallery">
                      <div class="-image" data-aos="fade-in"></div>
                      <div class="-image" data-aos="fade-in"></div>
                      <div class="-image" data-aos="fade-in"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="--defining">
                <div>
                  <h2 class="-title" data-aos="fade-in">Defining</h2>
                  <p data-aos="fade-in">
                    Conceptualization of ideas and definitions into maps and models to enable service decisions. Fast prototyping and controlled environment implementations to probe hypothesis.
                  </p>
                  <div class="-showcase">
                    <div class="-gallery">
                      <div class="-image" data-aos="fade-in"></div>
                      <div class="-image" data-aos="fade-in"></div>
                      <div class="-image" data-aos="fade-in"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="--developing">
                <div>
                  <h2 class="-title" data-aos="fade-in">Developing</h2>
                  <p data-aos="fade-in">
                    Creation and test of digital products and design systems by mockups and prototypes. Usability, guerrilla, and heuristic tests to detect design problems.
                  </p>
                  <div class="-showcase">
                    <div class="-gallery">
                      <div class="-image" data-aos="fade-in"></div>
                      <div class="-image" data-aos="fade-in"></div>
                      <div class="-image" data-aos="fade-in"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="-inner">
              <div class="-showcase --desktop">
                <div class="-gallery --discovering --fade-in">
                  <div class="-image"></div>
                  <div class="-image"></div>
                  <div class="-image"></div>
                </div>
                <div class="-gallery --defining">
                  <div class="-image"></div>
                  <div class="-image"></div>
                  <div class="-image"></div>
                </div>
                <div class="-gallery --developing">
                  <div class="-image"></div>
                  <div class="-image"></div>
                  <div class="-image"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>