<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!./partials/head.html') %>
  </head>
  <body>
    
    <%= require('html-loader!./partials/header.html') %>

    <section class="promote">
      <div class="-inner">
        <p>
         <span class="-emoji">☝️</span> check <a href="#">my work</a> to see what I do.
         <span class="-emoji --contact">👋</span> or <a href="#">let’s talk</a>.
        </p>
      </div>
    </section>

    <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>