<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!./partials/head.html') %>
    <link rel="stylesheet" type="text/css" href="../application.css">
  </head>
  <body class="page --work">
    
    <%= require('html-loader!./partials/header.html') %>

    <div id="swup" class="main-content">
      <section class="work">
        <div class="-inner">
          <a href="/work/work-post/" class="-left transition-in">
            <h1>
              Simplification of a purchase process.
            </h1>
            <small>
              ChileCompra
            </small>
          </a>
          <div class="-right transition-in">
            <!-- <div class="-slider">
              <div class="-slider-inner">
                <ul class="-slides">
                  <li class="-slide">
                    <div class="-image work1 transition-in"></div>
                  </li>
                  <li class="-slide">
                    <div class="-image work2"></div>
                  </li>
                  <li class="-slide">
                    <div class="-image work3"></div>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="-slider-hidden"></div>
            <div class="-slider">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
            
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>