<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!./partials/head.html') %>
    <link rel="stylesheet" type="text/css" href="../../application.css">
  </head>
  <body class="page --work-post">
    
    <%= require('html-loader!./partials/header.html') %>

    <div id="swup" class="main-content transition-in">
      <section class="work-post">
        <div class="-inner --intro">
          <div class="-left">
            <h1>
              Quinta Bella. Healthcare Centre for families.
            </h1>
            <small>
              Laboratorio de Gobierno
            </small>
          </div>
          <div class="-right">
            <img src="../../images/work-1.jpg">
          </div>
        </div>
        <div class="-inner --content">
          <div class="-left">
            <h3>
              Project's Client
            </h3>
            <a href="#">
              Municipalidad de Recoleta
            </a>
            <time>
              February, 2018.
            </time>

            <h3>
              People Involved
            </h3>
            <ul>
              <li>
                <a href="#">Dámaris Sepúlveda</a>
              </li>
              <li>
                <a href="#">Felipe Escandón</a>
              </li>
              <li>
                Elisa Briones
              </li>
              <li>
                <a href="#">Héctor Vergara</a>
              </li>
              <li>
                <a href="#">Katalina Papic</a>
              </li>
              <li>
                Milenko Lasnibat
              </li>
              <li>
                Paulina Buvinic
              </li>
              <li>
                <a href="#">Denise Misleh</a>
              </li>
              <li>
                Myriam Meyer
              </li>
            </ul>
          </div>
          <div class="-right">
            <h2>How improve the people’s access to primary health?</h2>
            <p>
              During the first year of Laboratorio de Gobierno, and in collaboration with Daniel Jadue, the mayor of Recoleta, we started a project that sought the improvement of people’s access to the primary health system in the town. The problem defined by our client described an “early crowdedness in the healthcare centre”. People go early to the centre looking for an hour with the doctor under the idea that they will be attended by the time they arrived.
            </p>
            <p>
              From our methodology based on design’s council double diamond, the first stage identified the components behind the symptom delivered to us. Thanks to our research, the problem is reformulated to indicate that “there is an inconsistency between the logic that drives the service and people’s desires”.
            </p>
            <p>
              Throughout brainstorming sessions, we design an experience that aimed to foster the hours’ request by phone calls with no need to go to the centre. We selected the touch points with more consequences for our users and we built a storyboard connecting all the service. From the beginning to the end of the experience.
            </p>
            <p>
              Those touch points considered a service protocol able to assign available hours depending on people’s health state and the assistance that they needed it. A recording system connected to the user’s medical register in order to decide based on evidence and not only in the non-presence description. And a “confirmation of hours” system connected with the patient information managed by the medical team.
            </p>
          </div>
        </div>
        <div class="-inner --gallery">
          <div class="-image work-post1"></div>
          <div class="-image work-post2"></div>
          <div class="-image work-post3"></div>
          <div class="-image work-post4"></div>
        </div>
      </section>

      <section class="next-project">
        <a href="#" class="inner">
          <h3>Next Project</h3>
          <h1>
            Public innovators network.
          </h1>
        </a>
      </section>
    </div>

    <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>