<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!./partials/head.html') %>
    <link rel="stylesheet" type="text/css" href="../application.css">
  </head>
  <body class="page --work">
    
    <%= require('html-loader!./partials/header.html') %>

    <div id="swup" class="main-content transition-fade">
      <section class="work">
        <div class="-inner">
          <a href="/work/work-post/" class="-left">
            <h1>
              Simplification of a purchase process.
            </h1>
            <small>
              ChileCompra
            </small>
          </a>
          <div class="-right">
            <img src="../images/me.jpg">
          </div>
        </div>
      </section>
    </div>

    <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>