<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!./partials/head.html') %>
    <link rel="stylesheet" type="text/css" href="../application.css">
  </head>
  <body class="page --writings">
    
    <%= require('html-loader!./partials/header.html') %>

    <div id="swup" class="main-content transition-in">
      <section class="writings">
        <div class="-inner">
          <a href="/writings/writings-post/" class="-left">
            <h1>
              Three years as a civil servant.
            </h1>
            <p>
              A diagnosis of what happens in Chilean’s public sector.
            </p>
            <time>
              16th November
            </time>
          </a>
          <div class="-right">
            <div class="-slider">
              <div class="glide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    <li class="glide__slide">
                      <div class="-image writings1"></div>
                    </li>
                    <li class="glide__slide">
                      <div class="-image writings2"></div>
                    </li>
                    <li class="glide__slide">
                      <div class="-image writings3"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>