.header {
  position: relative;
  width: 100%;
  padding: 80px 0 140px;
  background: $color-white;
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding: 80px 0 60px;
  }

  @include breakpoint(small down) {
    padding: 50px 0 60px;
  }

  .-inner {
    @include xy-grid-container();

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
  
    @include breakpoint(large down) {
      padding: 0 120px;
    }

    @include breakpoint(medium down) {
      padding: 0 100px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 80px;
    }

    @include breakpoint(small down) {
      padding: 0 30px;
    }
  }

  .-title,
  .-language {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
    font-family: $ff-secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-gray;

    @include breakpoint(small down) {
      font-size: 13px;
    }
  }

  .-title {
    margin-bottom: 10px;
    transition: all 800ms cubic-bezier(.17,.89,.3,1.11) .5s;
    transform: translate(0, 0);
    opacity: 1;

    a {
      color: $color-gray;
      text-decoration: none;
    }
  }

  .-right {
    transition: all 800ms cubic-bezier(.17,.89,.3,1.11) 1.5s;
    transform: translate(0, 0);
    opacity: 1;
  }

  .-language {
    text-decoration: none;
    color: $color-blue;

    &--desktop {
      display: block;

      @include breakpoint(small down) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include breakpoint(small down) {
        display: block;
      }
    }
  }

  nav {
    transition: all 800ms cubic-bezier(.17,.89,.3,1.11) 1.5s;
    transform: translate(0, 0);
    opacity: 1;

    a {
      display: inline-block;
      position: relative;
      padding: 0 15px;
      font-size: 28px;
      font-weight: lighter;
      font-family: $ff-secondary;
      text-decoration: none;
      letter-spacing: 0.5px;
      color: $color-blue;

      &:first-child {
        padding-left: 0;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        bottom: -10px;
        width: 0;
        height: 10px;
        overflow: hidden;
        transition: width 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
      }

      &.--writings:after {
        background: url('../assets/images/hover-writings.svg') no-repeat left center/auto 9px;

        @media screen and (max-width: 768px) {
          background-size: auto 8px;
        }
        
        @include breakpoint(small down) {
          background-size: auto 6px;
        }
      }
      &.--work:after {
        background: url('../assets/images/hover-work.svg') no-repeat left center/auto 6px;

        @media screen and (max-width: 768px) {
          background-size: auto 6px;
        }

        @include breakpoint(small down) {
          background-size: auto 4px;
        }
      }
      &.--me:after {
        background: url('../assets/images/hover-me.svg') no-repeat left center/auto 10px;

        @media screen and (max-width: 768px) {
          background-size: auto 9px;
        }

        @include breakpoint(small down) {
          background-size: auto 6px;
        }
      }

      &.--active:after {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        font-size: 25px;
      }

      @include breakpoint(small down) {
        padding: 0 10px;
        font-size: 18px;
      }
    }
  }
}

.page.--writings a.--writings:after      { width: 100%; }
.page.--writings-post a.--writings:after { width: 100%; }
.page.--work a.--work:after              { width: 100%; }
.page.--work-post a.--work:after         { width: 100%; }
.page.--me a.--me:after                  { width: 100%; }

.preload {
  .header .-title,
  .header nav,
  .header .-right {
    transform: translate(0, 30px);
    opacity: 0;
  }
}