<section class="promote">
  <div class="-inner">
    <p>
    <span class="-emoji --point-up">☝️</span> check <a href="/work/">my work</a> to see<br> what I do.<br class="tablet">
    <span class="-emoji --hello">👋</span> or <a href="#">let’s talk</a>.
    </p>
  </div>
</section>

<footer class="footer">
  <div class="-inner">
    <div class="-left">
      <small>
        here’s <a class="--link" href="#">my CV</a> for more details.
      </small>
    </div>
    <div class="-right">
      <nav>
        <a class="-icon --twitter" href="#">Twitter</a>
        <a class="-icon --linkedin" href="#">LinkedIn</a>
        <a class="-icon --medium" href="#">Medium</a>
        <a class="-icon --pocket" href="#">Pocket</a>
      </nav>
    </div>
  </div>
</footer>