<header class="header">
  <div class="-inner">
    <div class="-left">
      <h1 class="-title">
        <a href="/">Francisco Vera</a>
      </h1>
      <nav>
        <a class="--writings" href="/writings/">Writings</a>
        <a class="--work" href="/work/">Work</a>
        <a class="--me" href="/me/">Me</a>
      </nav>
    </div>
    <div class="-right">
      <a class="-language js-language-toogle" href="#">
        <span class="-language--desktop">Español</span>
        <span class="-language--mobile">Es</span>
      </a>
    </div>
  </div>
</header>