// -----------------------------------------------------------------------------
// Setup
// -----------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // @include box-sizing;
  // @include font-smoothing;
}

html {
  direction: ltr;
  text-rendering: optimizeLegibility;
}

body {
  background: $color-white;
  color: $color-gray;
  font-family: $ff-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none;
}

.transition-in {
  transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
  transform: translate(0, 0);
  opacity: 1;
}
html.is-animating .transition-in {
  transition: all 300ms linear;
  transform: translate(0, 30px);
  opacity: 0;
}
html.is-leaving .transition-in {
  transition: all 300ms linear;
  transform: translate(0, 0);
  opacity: 0;
}

.page.--blog .transition-in {
  transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
  transform: translate(0, 0);
  opacity: 1;
}
html.is-animating .page.--blog  .transition-in {
  transition: all 300ms linear;
  transform: translate(0, 30px);
  opacity: 0;
}
html.is-leaving .page.--blog  .transition-in {
  transition: all 300ms linear 300ms;
  transform: translate(0, 0);
  opacity: 0;
}

.main-content {
  overflow: hidden;
}


@media screen and (min-width: 640px) {
  html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
    transition: none !important;
    transition-delay: 0 !important;
    opacity: 1;
  }
}