// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Body text
// -----------------------------------------------------------------------------

small {
  font-weight: 400;
  font-size: 18px;
  color: $color-gray;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------