.--blog .main-content {
  overflow: visible;
}

.blog {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    padding-bottom: 120px;
    overflow: hidden;
  }

  @include breakpoint(small down) {
    padding-bottom: 200px;
    margin-bottom: 0;
    overflow: visible;
  }

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
  
    @include breakpoint(large down) {
      padding: 0 120px;
    }

    @include breakpoint(medium down) {
      padding: 0 100px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0 80px;
    }

    @include breakpoint(small down) {
      flex-direction: column-reverse;
      padding: 0 30px;
    }
  }

  .-left {
    @include xy-cell(4, false);

    display: block;
    position: relative;
    text-decoration: none;
    z-index: 3;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @include breakpoint(small down) {
      width: 100%;
    }

    .-white-bg {
      position: absolute;
      top: 0;
      right: -40px;
      width: 200%;
      height: 460px;
      background: $color-white;
    }

    .-post {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
      opacity: 0;
      pointer-events: none;
      transform: translate(0, 0);
      transition: opacity 1s ease;
      z-index: 2;

      &.--active {
        opacity: 1;
        pointer-events: all;
        transition: opacity 1s ease;
      }
    }

    h1 {
      position: relative;
      margin: 0;
      font-size: 42px;
      font-family: $ff-secondary;
      letter-spacing: 0.5px;
      color: $color-gray;
      z-index: 1;

      @include breakpoint(small down) {
        margin-bottom: 10px;
        font-size: 25px;
      }
    }

    p {
      margin-bottom: 30px;
      font-size: 20px;
      font-family: $ff-primary;
      color: $color-gray;
  
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @include breakpoint(small down) {
        margin-bottom: 20px;
        font-size: 17px;
      }
    }

    time {
      position: relative;
      font-size: 15px;
      font-family: $ff-primary;
      color: $color-gray--lighter;
      z-index: 1;

      @include breakpoint(small down) {
        font-size: 13px;
      }
    }

    small {
      position: relative;
      display: block;
      margin-top: 10px;
      font-size: 15px;
      font-family: $ff-primary;
      color: $color-gray--lighter;
      z-index: 1;

      @include breakpoint(small down) {
        font-size: 13px;
      }
    }

    &:hover {
      h1 {
        color: $color-purple;
      }
    }
  }

  .-right {
    @include xy-cell(8, false);

    position: relative;

    @media screen and (max-width: 768px) {
      width: 65%;
      margin-bottom: 70px;
    }

    @include breakpoint(small down) {
      width: 80%;
      margin-bottom: 40px;
    }

    .-slider-hidden {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
    .-slider {
      width: 100%;
      // width: 715px;
      // height: 430px;
      padding-bottom: calc(430 / 715 * 100%);
      overflow: visible;
  
      @include breakpoint(large down) {
        width: 100%;
        // width: 630px;
        // height: 380px;
        padding-bottom: calc(380 / 630 * 100%);
      }
  
      @include breakpoint(medium down) {
        width: 100%;
        // width: 530px;
        // height: 320px;
        padding-bottom: calc(320 / 530 * 100%);
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        // width: 80%;
        // width: 390px;
        // height: 360px;
        padding-bottom: calc(360 / 390 * 100%);
      }
  
      @include breakpoint(small down) {
        width: 100%;
        // width: 90%;
        // height: 240px;
        // width: 260px;
        // height: 240px;
        padding-bottom: calc(240 / 260 * 100%);
      }
    }

    .swiper-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: visible;
    }

    .swiper-wrapper {
      overflow: visible;
    }

    .-image {
      // width: 713px;
      // width: 100%;
      // height: 430px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      // @include breakpoint(large down) {
      //   width: 630px;
      //   height: 380px;
      //   padding-bottom: calc(380 / 630 * 100%);
      // }
  
      // @include breakpoint(medium down) {
      //   width: 530px;
      //   height: 320px;
      //   padding-bottom: calc(320 / 530 * 100%);
      // }

      // @media screen and (max-width: 768px) {
      //   width: 390px;
      //   height: 360px;
      //   width: 80%;
      //   padding-bottom: calc(360 / 390 * 100%);
      // }
  
      // @include breakpoint(small down) {
      //   width: 260px;
      //   height: 240px;
      //   width: 90%;
      //   height: 240px;
      //   padding-bottom: calc(240 / 260 * 100%);
      // }
    }

    .work1 {
      background-image: url('../assets/images/work-1.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/work-1.jpg');
      // }
    }
    .work2 {
      background-image: url('../assets/images/work-2.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/work-2@small.jpg');
      // }
    }
    .work3 {
      background-image: url('../assets/images/work-3.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/work-3@small.jpg');
      // }
    }


    .writings1 {
      background-image: url('../assets/images/writings-1.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/writings-1@small.jpg');
      // }
    }
    .writings2 {
      background-image: url('../assets/images/writings-2.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/writings-2@small.jpg');
      // }
    }
    .writings3 {
      background-image: url('../assets/images/writings-3.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/writings-3@small.jpg');
      // }
    }
    
    img {
      position: relative;
      width: auto;
    }
  }
}



.--writings .swiper-slide {
  transform-origin: right top;
  transition: transform 300ms linear;

  @media screen and (max-width: 768px) {
    transform-origin: left top;
  }

  @include breakpoint(small down) {
    transform-origin: 28% top;
  }

  &.fade-out {
    opacity: 0;
  }

  &.scale {
    transform: scale(1.43);
    opacity: 1;
    z-index: 1;

    @media screen and (max-width: 768px) {
      transform: scale(1.23);
    }

    @include breakpoint(small down) {
      transform: scale(1.565);
    }
  }
}

.--work .swiper-slide {
  transform-origin: left top;
  transition: transform 300ms linear;

  @media screen and (max-width: 768px) {
    transform-origin: left top;
  }

  @include breakpoint(small down) {
    transform-origin: 20% top;
  }

  &.fade-out {
    opacity: 0;
  }

  &.scale {
    transform: scale(1.43);
    opacity: 1;
    z-index: 1;

    @media screen and (max-width: 768px) {
      transform: scale(1.025) translateX(25%);
    }

    @include breakpoint(small down) {
      transform: scale(1.4);
    }
  }
}

.page.--writings.--blog .-left {
  z-index: 2;

  .scale {
    z-index: 3;
  }
}

.page.--writings.--blog .swiper-container {
  &.scale {
    z-index: 2;
  }
}
.page.--work.--blog .swiper-container {
  &.scale {
    z-index: 3;
  }
}