.introduction {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 180px;

  @include breakpoint(small down) {
    margin-bottom: 110px;
  }

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpoint(small down) {
      display: block;
      padding: 0 30px;
    }
  }
}

.description {
  @include xy-cell(7, false);

  @include breakpoint(small down) {
    @include xy-cell(12, false);
    margin: 110px 0;
  }

  p {
    width: 90%;

    &:first-child {
      margin-top: 0;
    }

    @include breakpoint(small down) {
      width: 100%;
    }
  }
}

.last-thought {
  @include xy-cell(5, false);

  @include breakpoint(small down) {
    @include xy-cell(12, false);
  }

  .-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 30px;

    @include breakpoint(small down) {
      display: block;
      margin-bottom: 10px;
    }

    h2 {
      margin: 0;
      font-weight: lighter;
      font-size: 15px;
      font-family: $ff-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-gray--light;

      @include breakpoint(small down) {
        font-size: 13px;
        text-align: center;
      }
    }
  }

  .-article {
    @include breakpoint(small down) {
      display: block;
      padding: 30px 30px;
      margin: 0 auto;
      max-width: 320px;
      background: url('../assets/images/bubble.svg') no-repeat center / contain;
    }

    h1 {
      margin: 0 0 5px 0;
      font-weight: lighter;
      font-size: 32px;
      font-family: $ff-secondary;
      letter-spacing: 0.5px;
      color: $color-blue;

      @include breakpoint(small down) {
        font-size: 22px;
      }
    }

    time {
      font-weight: lighter;
      font-size: 15px;
      font-family: $ff-primary;
      color: $color-gray--lighter;

      @include breakpoint(small down) {
        font-size: 13px;
      }
    }
  }

  a {
    font-size: 15px;
    text-transform: uppercase;
  }

  a.--desktop {
    display: block;

    @include breakpoint(small down) {
      display: none;
    }
  }

  a.--mobile {
    display: none;

    @include breakpoint(small down) {
      display: block;
      margin-top: 10px;
      font-size: 13px;
      text-align: center;
    }
  }
}

.what-i-do {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 100px;

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpoint(small down) {
      display: block;
      padding: 0 30px;
    }
  }

  .-title {
    margin: 0 0 30px 0;
    font-weight: lighter;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: $color-gray;

    @include breakpoint(small down) {
      font-weight: normal;
      font-size: 20px;
    }

    &:before {
      display: inline-block;
      position: relative;
      content: '';
      top: 2px;
      width: 38px;
      height: 38px;
      margin-right: 30px;
      vertical-align: bottom;

      @include breakpoint(small down) {
        display: block;
        margin-bottom: 40px;
      }
    }

    &.--discovering:before {
      background: url('../assets/images/icon-discovering.svg') no-repeat center / contain;
    }
    &.--defining:before {
      background: url('../assets/images/icon-defining.svg') no-repeat center / contain;
    }
    &.--developing:before {
      background: url('../assets/images/icon-developing.svg') no-repeat center / contain;
    }
  }
}

.promote {
  position: relative;
  width: 100%;
  padding: 0;

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(small down) {
      padding: 0 30px;
    }
  }

  .-emoji {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;

    @include breakpoint(small down) {
      display: block;
      margin: 20px 0;
    }

    &.--contact {
      margin-left: 10px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: normal;
    font-family: $ff-secondary;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: $color-gray;

    @include breakpoint(small down) {
      display: block;
      width: 100%;
      font-size: 22px;
      text-align: center;
    }

    br {
      display: none;

      @include breakpoint(small down) {
        display: block;
      }
    }
  }
}