.page.--me .main-content {
  overflow: visible;

  @include breakpoint(small down) {
    overflow: hidden;
  }
}

.me {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;

  @include breakpoint(medium down) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }

  @include breakpoint(small down) {
    margin-bottom: 0;
  }

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
  
    @include breakpoint(large down) {
      padding: 0 120px;
    }

    @include breakpoint(medium down) {
      flex-direction: column-reverse;
      padding: 0 100px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0 80px;
    }

    @include breakpoint(small down) {
      flex-direction: column-reverse;
      padding: 0 30px;
    }
  }

  .-left {
    @include xy-cell(6, false);
    
    position: relative;

    @include breakpoint(medium down) {
      @include xy-cell(10, false);
      @include xy-cell-offset(1);
    }

    @media screen and (max-width: 768px) {
      @include xy-cell(12, false);
      @include xy-cell-offset(0);

      width: 100%;
    }

    @include breakpoint(small down) {
      @include xy-cell(12, false);

      width: 100%;
      margin-top: 20px;
    }
    
    img {
      position: relative;
      right: 10%;
      width: 140%;
      height: auto;
      float: right;
      transition: transform 100ms ease;
      transform: translateY(0%);

      @include breakpoint(medium down) {
        top: 5px;
        right: 0;
        width: 70%;
        float: none;
        transform: translate(0, 0) !important;
      }
  
      @media screen and (max-width: 768px) {
        top: 5px;
        right: 0;
        width: 70%;
        float: none;
      }

      @include breakpoint(small down) {
        width: 125%;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0) !important;
        float: none;
      }
    }
  }

  .-right {
    @include xy-cell(6, false);

    @include breakpoint(medium down) {
      @include xy-cell(10, false);
      @include xy-cell-offset(1);
    }

    @media screen and (max-width: 768px) {
      @include xy-cell(12, false);
      @include xy-cell-offset(0);

      width: 100%;
    }

    @include breakpoint(small down) {
      @include xy-cell(12, false);

      width: 100%;
    }

    h1 {
      margin: 0 0 50px 0;
      font-weight: lighter;
      font-size: 42px;
      font-family: $ff-secondary;
      letter-spacing: 0.5px;
      color: $color-gray;

      @include breakpoint(small down) {
        margin-bottom: 30px;
        font-size: 25px;
      }
    }

    p {
      margin-bottom: 50px;
      font-size: 20px;
      font-family: $ff-primary;
      color: $color-gray;
  
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @include breakpoint(small down) {
        margin-bottom: 40px;
        font-size: 17px;
      }
    }
  }
}