.work-post {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;


  figure {
    padding: 0;
    margin: 0;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    figcaption {
      font-size: 15px;
      font-family: $ff-primary;
      text-align: center;
      color: $color-gray--lighter;

      span {
        color: $color-blue;
      }
    }
  }

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
  
    @include breakpoint(large down) {
      padding: 0 120px;
    }

    @include breakpoint(medium down) {
      padding: 0 100px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      width: 100%;
      padding: 0 80px;
    }

    @include breakpoint(small down) {
      flex-direction: column-reverse;
      width: 100%;
      padding: 0 30px;
    }

    &:first-child {
      margin-bottom: 110px;

      @include breakpoint(small down) {
        margin-bottom: 70px;
      }
    }

    &:nth-child(2) {

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      @include breakpoint(small down) {
        flex-direction: column;
      }
    }
  }

  .-inner.--content .-right {
    @include breakpoint(small down) {
      margin-top: 70px;
      margin-bottom: 60px;
    }
  }

  .-left {
    @include xy-cell(4, false);

    display: block;

    @media screen and (max-width: 768px) {
      @include xy-cell(12, false);
      width: 100%;
      margin-bottom: 60px;
    }

    @include breakpoint(small down) {
      @include xy-cell(12, false);
      width: 100%;
    }

    h1 {
      margin: 0;
      font-weight: lighter;
      font-size: 42px;
      line-height: 1.25;
      font-family: $ff-secondary;
      letter-spacing: 0.5px;
      color: $color-gray;

      @include breakpoint(small down) {
        font-size: 25px;
      }
    }

    h3 {
      margin: 60px 0 15px 0;
      font-weight: lighter;
      font-size: 15px;
      font-family: $ff-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-gray--light;

      @include breakpoint(small down) {
        margin-top: 70px;
        font-size: 13px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
    
    a {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;

      &.--inactive {
        color: $color-gray;
      }

      @include breakpoint(small down) {
        font-size: 17px;
      }
    }

    p {
      font-size: 20px;
      font-family: $ff-primary;
      color: $color-gray;
    }

    small,
    time {
      display: block;
      font-size: 15px;
      font-family: $ff-primary;
      color: $color-gray--lighter;
    }

    small {
      @include breakpoint(small down) {
        margin-top: 10px;
        font-size: 13px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;

        @media screen and (max-width: 768px) {
          display: inline;

          a {
            display: inline;

            &:after {
              content: ", ";
              display: inline;
            }
          }

          &:last-child {
            a:after {
              content: ".";
              display: inline;
            }
          }
        }

        @include breakpoint(small down) {
          font-size: 17px;
        }
      }
    }
  }

  .-right {
    @include xy-cell(8, false);

    position: relative;

    @media screen and (max-width: 768px) {
      @include xy-cell(12, false);
      width: 100%;
      margin-bottom: 50px;
    }

    @include breakpoint(small down) {
      @include xy-cell(12, false);
      width: 100%;
      margin-bottom: 50px;
    }
    
    > img {
      position: relative;
      top: 0;
      left: 0;
      // width: 130%;
      // width: auto;
      // height: 615px;
      width: 170%;
      height: auto;

      @media screen and (max-width: 768px) {
        position: relative;
        left: 50%;
        // width: 120%;
        width: 100%;
        height: auto;
        transform: translate(-50%, 0);
      }

      @include breakpoint(small down) {
        position: relative;
        left: 50%;
        // width: 120%;
        width: 170%;
        height: auto;
        transform: translate(-50%, 0);
      }
    }

    h1 {
      margin: 0 0 20px 0;
      font-weight: lighter;
      font-size: 42px;
      font-family: $ff-secondary;
      text-align: left;
      letter-spacing: 0.5px;
      color: $color-gray;

      @include breakpoint(small down) {
        font-size: 25px;
      }
    }

    h2 {
      margin: 60px 0 40px 0;
      font-weight: lighter;
      font-size: 32px;
      font-family: $ff-secondary;
      letter-spacing: 0.5px;
      color: $color-gray;

      @include breakpoint(small down) {
        font-size: 22px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    time {
      display: block;
      margin-bottom: 20px;
      font-size: 15px;
      font-family: $ff-primary;
      text-align: center;
      color: $color-gray--lighter;
    }

    p {
      margin-bottom: 40px;
      font-size: 20px;
      font-family: $ff-primary;
      color: $color-gray;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @include breakpoint(small down) {
        font-size: 17px;
      }
    }

    figure {
      padding: 0;
      margin: 0;
  
      img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
  
      figcaption {
        font-size: 15px;
        font-family: $ff-primary;
        text-align: center;
        color: $color-gray--lighter;
  
        span {
          color: $color-blue;
        }
      }
    }
  }

  .--gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 60px;

    @include breakpoint(small down) {
      margin-top: 0;
    }

    .-image {
      width: 100%;
      padding-bottom: 60%;
      margin-bottom: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: 0 7px 20px rgba(0, 0, 0, .1);

      &.work-post1 { background-image: url('../assets/images/work-post-1.jpg');}
      &.work-post2 { background-image: url('../assets/images/work-post-2.jpg');}
      &.work-post3 { background-image: url('../assets/images/work-post-3.jpg');}
      &.work-post4 { background-image: url('../assets/images/work-post-4.jpg');}

      @include breakpoint(small down) {
        padding-bottom: 93.2%;
        margin-bottom: 60px;

        &:nth-child(odd) {
          align-self: flex-end;
          margin-right: -30px;
        }
  
        &:nth-child(even) {
          align-self: flex-start;
          margin-left: -30px;
        }

        &.work-post1 { background-image: url('../assets/images/work-post-1@small.jpg');}
        &.work-post2 { background-image: url('../assets/images/work-post-2@small.jpg');}
        &.work-post3 { background-image: url('../assets/images/work-post-3@small.jpg');}
        &.work-post4 { background-image: url('../assets/images/work-post-4@small.jpg');}
      }
    }
  }
}

.next-project {
  position: relative;
  width: 100%;
  padding: 0;

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
  }

  h1 {
    margin-top: 0;
    font-weight: lighter;
    font-size: 32px;
    font-family: $ff-secondary;
    text-align: center;
    letter-spacing: 0.5px;
    color: $color-blue;

    @include breakpoint(small down) {
      font-size: 22px;
    }
  }

  h3 {
    display: block;
    font-weight: lighter;
    font-size: 15px;
    font-family: $ff-secondary;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-gray--light;

    @include breakpoint(small down) {
      font-size: 13px;
    }

    &:before {
      display: block;
      content: '📦';
      margin: 0 auto 10px;
      font-size: 40px;
      color: black;
    }
  }

  &:hover {
    h1 {
      color: $color-blue--light;
    }
  }
}