.--writings-deprecated .main-content {
  overflow: visible;
}

.writings-deprecated {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;

  @include breakpoint(small down) {
    padding-bottom: 120px;
    margin-bottom: 0;
    overflow: hidden;
  }

  .-inner {
    @include xy-grid-container;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
  
    @include breakpoint(large down) {
      padding: 0 120px;
    }

    @include breakpoint(medium down) {
      padding: 0 100px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 80px;
    }

    @include breakpoint(small down) {
      flex-direction: column-reverse;
      padding: 0 30px;
    }
  }

  .-left {
    @include xy-cell(4, false);

    display: block;
    position: relative;
    text-decoration: none;
    z-index: 2;

    @include breakpoint(small down) {
      width: 100%;
    }

    .-white-bg {
      position: absolute;
      top: 0;
      right: -40px;
      width: 200%;
      height: 450px;
      background: $color-white;
    }

    .-post {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
      opacity: 0;
      pointer-events: none;
      transform: translate(0, 0);
      transition: opacity 1s ease;

      &.--active {
        opacity: 1;
        pointer-events: all;
        transition: opacity 1s ease;
      }
    }

    h1 {
      position: relative;
      margin: 0;
      font-weight: lighter;
      font-size: 42px;
      line-height: 1.25;
      font-family: $ff-secondary;
      letter-spacing: 0.5px;
      color: $color-gray;
      z-index: 1;

      @include breakpoint(small down) {
        margin-bottom: 10px;
        font-size: 25px;
      }
    }

    p {
      position: relative;
      font-size: 20px;
      font-family: $ff-primary;
      color: $color-gray;
      z-index: 1;

      @include breakpoint(small down) {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 17px;
      }
    }

    time {
      position: relative;
      font-size: 15px;
      font-family: $ff-primary;
      color: $color-gray--lighter;
      z-index: 1;

      @include breakpoint(small down) {
        font-size: 13px;
      }
    }

    &:hover {
      h1,
      p {
        color: $color-purple;
      }
    }
  }

  .-right {
    @include xy-cell(8, false);

    position: relative;

    @include breakpoint(small down) {
      width: 100%;
      margin-bottom: 40px;
    }

    .-slider-hidden {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
    .-slider {
      width: 100%;
      height: 430px;
      overflow: visible;
  
      @include breakpoint(small down) {
        width: 85%;
        height: 240px;
      }
    }

    .swiper-container {
      width: 100%;
      height: 430px;
      overflow: visible;
    }

    .swiper-wrapper {
      overflow: visible;
    }

    .swiper-slide {
      transform-origin: right top;
      transition: transform 300ms linear;

      @media screen and (max-width: 768px) {
        transform-origin: right top;
      }
  
      @include breakpoint(small down) {
        transform-origin: 25% top;
      }

      &.scale {
        transform: scale(1.42);
        z-index: 1;

        @media screen and (max-width: 768px) {
          transform: scale(1.25);
        }
  
        @include breakpoint(small down) {
          transform: scale(1.4);
        }
      }

      &:last-child {
      }
    }

    .-image {
      width: 100%;
      height: 430px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
  
  
      @include breakpoint(small down) {
        width: 100%;
        height: 240px;
      }
    }

    .writings1 {
      background-image: url('../assets/images/writings-1.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/writings-1@small.jpg');
      // }
    }
    .writings2 {
      background-image: url('../assets/images/writings-2.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/writings-2@small.jpg');
      // }
    }
    .writings3 {
      background-image: url('../assets/images/writings-3.jpg');
      // @include breakpoint(small down) {
      //   background-image: url('../assets/images/writings-3@small.jpg');
      // }
    }
    
    img {
      position: relative;
      width: auto;
    }
  }
}